
@font-face {
    font-family: 'D-DIN';
    src: url('../fuente/D-DINCondesend-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, p {
    font-family: 'D-DIN', 'Roboto', 'Montserrat', 'Lato', 'Open Sans', sans-serif;
}

body {
    background-color: rgb(245, 243, 243);
    margin-left: 50px;
}
.cabezote img {
    width: 100%; 
    height: auto; 
    display: block; 
}
header {
    background-color: rgb(245, 243, 243);
    color: #fff;
    text-align: center;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 5px; 
}

a {
    display: inline-block;
    padding: 7px 15px; 
    text-decoration: none;
    color: #ffffff; 
    background-color: #0e6334; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

a:hover {
    background-color: #199e55;
    transform: scale(1.1); 
}

.slider-container {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    overflow: hidden;
    position: relative; /* Añade posición relativa para el slider */
}

.slider {
    display: flex;
    transition: transform 0.5s ease; 
    width: 400%; /* Ajusta el ancho del slider al 400% para contener todas las imágenes */
}

.slider img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    object-fit: cover; /* Mantiene la proporción de la imagen y cubre todo el contenedor */
}
p {
    text-align: justify;
    margin-right: 20px;
    color: rgb(139, 138, 138);
    font-weight: 500;
}


.content {
    text-align: center;
}
.bienvenida{
    width: 50%;
}
.video{
    width: 50%;
}
.slide h2, .slide p {
    margin: 0;
    color: #fff;
}

.redes {
    display: inline-flex; 

}

.red-social {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px; 
    background-size: cover;
    transition: background-image 0.3s ease;
    cursor: pointer;
}

#red1 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_01.png");
}

#red1:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_01_over.png");
}

#red2 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_02.png");
}

#red2:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_02_over.png");
}

#red3 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_03.png");
}

#red3:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_03_over.png");
}

#red4 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_04.png");
}

#red4:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_04_over.png");
}

.pie {
    width: 90vw; 
    position: relative;
    overflow: hidden;
    margin: 0; 
    padding: 0; 
}

.pieCurva {
    width: 100%;
    position: relative;
}

.pieLogo {
    position: absolute;
    bottom: 45px; 
    left: 30px;
    margin: 0 auto; 
}
.two{
    display: flex;
    margin-top: 20px;
}
.formacionImg {
    text-align: center; 
}

.formacionImg .enlace-imagen {
    display: inline-block;
    margin: 0 10px; 
    text-decoration: none; 
    background-color: transparent; 
}

.formacionImg .enlace-imagen img {
    display: block; 
    width: 80%; 
    max-width: 200px; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}

.formacionImg .enlace-imagen:hover img {
    transform: scale(0.95); 
}
.tituloSeminario {
    text-align: center;
    color: white;
    background-color: #0e6334;
}

.seminariosImg {
    display: flex; /* Para organizar las imágenes horizontalmente */
    justify-content: center; /* Para centrar las imágenes horizontalmente */
    
}

.seminariosImg img {
    width: 200px; /* Tamaño deseado para las imágenes */
    height: auto; /* Mantener la proporción original */
    margin: 10px; /* Espacio entre las imágenes */
   
}

.pregradoImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.pregradoImg img {
    width: 30%; 
    height: auto; 
    max-width: 200px; 
}
.posgradoImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.posgradoImg img {
    width: 30%; 
    height: auto; 
    max-width: 200px; 
}

.acordeon-seminario,
.acordeon-cursos{
    
    background-color: rgb(245, 243, 243);
}
.acordeon-cursos:hover,
.acordeon-seminario:hover{
    transform: scale(0.95); 
    background-color: rgb(245, 243, 243);
}

.modals,
.modalc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  











@media screen and (max-width: 768px) {

    .slider-container {
        width: 95%;
        overflow: hidden;
    }
    
    .slider {
        display: flex;
        transition: transform 0.5s ease; 
        
    }
    
    .slider img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

/* Media query adicional si es necesario para pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
    .slider-container {
    width: 95%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease; 
    
}

.slider img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
}