
@font-face {
    font-family: 'D-DIN';
    src: url('../fuente/D-DINCondesend-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,h4, p {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(245, 243, 243);
    margin-left: 50px;
}
.cabezote img {
    width: 100%; 
    height: auto; 
    display: block; 
}
header {
    background-color: rgb(245, 243, 243);
    color: #fff;
    text-align: center;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 5px; 
}

a {
    display: inline-block;
    padding: 7px 15px; 
    text-decoration: none;
    color: #ffffff; 
    background-color: #0e6334; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

a:hover {
    background-color: #199e55;
    transform: scale(1.1); 
}

.slider-container {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    overflow: hidden;
    position: relative; /* Añade posición relativa para el slider */
}

.slider {
    display: flex;
    transition: transform 0.5s ease; 
    width: 400%; /* Ajusta el ancho del slider al 400% para contener todas las imágenes */
}

.slider img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    object-fit: cover; /* Mantiene la proporción de la imagen y cubre todo el contenedor */
}
p {
    text-align: justify;
    margin-right: 20px;
    color: rgb(139, 138, 138);
    font-weight: 500;
}


.content {
    text-align: center;
}
.bienvenida{
    width: 50%;
}
.video{
    width: 50%;
}
.slide h2, .slide p {
    margin: 0;
    color: #fff;
}

.redes {
    display: inline-flex; 

}

.red-social {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px; 
    background-size: cover;
    transition: background-image 0.3s ease;
    cursor: pointer;
}

#red1 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_01.png");
}

#red1:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_01_over.png");
}

#red2 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_02.png");
}

#red2:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_02_over.png");
}

#red3 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_03.png");
}

#red3:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_03_over.png");
}

#red4 {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_04.png");
}

#red4:hover {
    background-image: url("./imagenes/campus_de_enfermeria_01_btn_redes_04_over.png");
}

.pie {
    width: 90vw; 
    position: relative;
    overflow: hidden;
    margin: 0; 
    padding: 0; 
}

.pieCurva {
    width: 100%;
    position: relative;
}

.pieLogo {
    position: absolute;
    bottom: 45px; 
    left: 30px;
    margin: 0 auto; 
}
.two{
    display: flex;
    margin-top: 20px;
}
.extensionImg,
.formacionImg {
    text-align: center; 
}

.formacionImg .enlace-imagen {
    display: inline-block;
    margin: 0 10px; 
    text-decoration: none; 
    background-color: transparent; 
}

.formacionImg .enlace-imagen img {
    display: block; 
    width: 80%; 
    max-width: 200px; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}

.formacionImg .enlace-imagen:hover img {
    transform: scale(0.95); 
}
.tituloSeminario {
    text-align: center;
    color: white;
    background-color: #0e6334;
}
.tituloSemestre1{
    text-align: center;
    color: white;
    background-color: #0e6334;
}

.diplomadosImg,
.certificacionesImg,
.cursos2Img,
.seminarios2Img,
.proyectosImg,
.seminariosImg {
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}

.seminariosImg img {
    width: 200px; 
    height: auto; 
    margin: 10px; 
   
}

.posgradoImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.posgrado-imgs{
    background-color: transparent;
    cursor: pointer;
}

.posgradoImg img {
    width: 30%; 
    height: auto; 
    max-width: 200px; 
}
.acordeon-diplomado,
.acordeon-certificaciones,
.acordeon-cursos2,
.acordeon-seminarios2,
.acordeon-proyectos,
.acordeon-seminario,
.acordeon-cursos{
    display: block !important; 
    margin-bottom: 10px !important;
    background-color: transparent;
}
.acordeon-diplomado img,
.acordeon-certificaciones img,
.acordeon-cursos2 img,
.acordeon-seminarios2 img,
.acordeon-proyectos img,
.acordeon-seminario img,
.acordeon-cursos img {
    width: 110% !important; 
    height: auto !important; 
  }
  

.acordeon-certificaciones:hover,
.acordeon-cursos2:hover,
.acordeon-seminarios2:hover,
.acordeon-proyectos:hover,
.acordeon-diplomado:hover,
.acordeon-cursos:hover,
.acordeon-seminario:hover{
    transform: scale(0.95); 
    background-color: transparent;
}

.modaldiplomado,
.modalcert,
.modals,
.modalc{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .pregradoImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.posgradoImg a,
.pregradoImg a {
    margin-left: -20px;
    margin-right: -20px;
}

.posgradoImg img{
    width: 100%; 
    height: auto; 
    max-width: 210px;
    margin-bottom: 1px;
    margin-left: 30px;
}
.pregradoImg img {
    width: 80%; 
    height: auto; 
    max-width: 210px;
    margin-bottom: 1px; 
}

.extensionImg img{
    width: 60%; 
    height: auto; 
    max-width: 210px;
    margin-bottom: 1px;
}

.extension-imgs,
.posgrado-imgs,
.pregrado-imgs {
    background-color: transparent;
    cursor: pointer;
}
.extension-imgs:hover,
.posgrado-imgs:hover,
.pregrado-imgs:hover {
    background-color: transparent;
    transform: scale(0.95);
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: beige;
}
summary {
    list-style-type: disc; 
    cursor: pointer; 
    color: #0e6334;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 700;
    
}

.materias{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
    list-style-type: none; 
    padding: 0; 
    text-align: left; 
}

.linksito {
    color: green; 
    text-decoration: none; 
    border-bottom: 1px solid green; 
    background-color: transparent;
}

.linksito:hover {
    background-color: transparent;
}
.tituloResultado {
    font-weight: bold; 
    text-align: left; 
}

.resultadoText {
    color: black; 
}

.profe {
    display: flex; 
    align-items: center; 
}
.contacto{
    display: flex; 
    align-items: center; 
}

.profeEncargado {
    font-weight: bold; 
}

.profeContacto {
    font-weight: bold; 
}
.profeNombre{
    color: #000;
    margin-left: 4px;
}

.profeEmail {
    color: rgb(6, 115, 108); 
    text-decoration: underline; 
    margin-left: 4px;
}















@media screen and (max-width: 768px) {

    .slider-container {
        width: 95%;
        overflow: hidden;
    }
    
    .slider {
        display: flex;
        transition: transform 0.5s ease; 
        
    }
    
    .slider img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

/* Media query adicional si es necesario para pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
    .slider-container {
    width: 95%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease; 
    
}

.slider img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
}